@import url("style-mobile.css");

/* Fonts and Colours */
@font-face {
    font-family: Circular; 
    src: url(circular.ttf); 
}

@font-face {
    font-family: Circular Light;
    src: url(circular-light.ttf);
}

:root {
    --white: #FFFFFF;
    --lightblue: #8B9AC0;
    --darkblue: #576CA8;
    --lightgrey: #DAE0E5;
}

/* Body */
body {
    font-family: Circular Light;
    color: var(--white);
    margin: 0;
    overflow-x:hidden;

    background-image: linear-gradient(var(--darkblue), var(--lightgrey));
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.white {
    background-image: var(--white) !important;
    color: var(--darkblue);
}

.background-image {
    width: 100%; 
    height: 50%; 
}

h1 {
    font-size: 4em;
    margin-bottom: 0.4em;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 0.4em;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
}

p {
    font-size: 1.25em;
}

/* Navigation Bar  */
.header {
    padding-top: 1em;
}

a {
    font-family: Circular Light;
    color: var(--darkblue);
}

.splash {
    align-items: center;
    height: 100vh;
    width: 100%;
}

/* Intro */
.intro {
    padding-top: 2em;
}

/* Features */
.features {
    padding-top: 3em;
}

.currentFeatures {
    padding: 2em 0;
    justify-content: center;
}

.shadow {
    box-shadow: 0 14px 28px rgba(27, 33, 48,0.06), 0 10px 10px rgba(27, 33, 48,0.02);
}

.lt-hover:hover {
    box-shadow: 0 14px 28px rgba(27, 33, 48,0.18), 0 10px 10px rgba(27, 33, 48,0.16) !important;
}

.futureFeatures {
    padding-top: 2em;
}

.madeBy {
    margin-top: 6em;
}


/* Buttons */
.white_button {
    background-color: var(--white);
    border: none;
    color: var(--darkblue);
    padding: .5em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 5px;
}

.blue_button {
    background-color: var(--darkblue);
    border: none;
    color: var(--white);
    padding: .5em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 5px;
}

/* Images Style  */
.logo {
    max-width: 60px;
    width: auto;
    height: auto;
    transform: translateY(20%);
}

.mockup {
    margin-top: 3em;
    max-width: 600px;
    width: auto;
    height: auto;
}

.featureDiv {
    background-color: var(--white);
    padding: 1em 1.5em;
    margin: 0 1.5em;
    border-radius: 5px;
    border: 1px solid var(--darkblue);
    text-align: center;
    min-width: 25%;
}

.featureDiv h3 {
    margin-bottom: 0em;
    color: var(--darkblue);
    word-wrap: break-word;
}

.featureDiv p {
    margin: 0;
    color: var(--darkblue);
    font-size: 1em;
}

.featureDiv img {
    max-width: 60px;
    width: auto;
    height: auto;
    align-self: center;
}

.transition {
    width: 100%;
    overflow-x: hidden;
    z-index: -999;
    margin-bottom: -10px;
    margin-top: -20%;
}

.white-bg {
    background: var(--white);
    color: var(--darkblue);
}

.profileImages {
    justify-content: center;
}

.profileImages * {
    margin: 0 0.5em;
    max-width: 35px;
    border-radius: 50%;
}

.socials {
    justify-content: center;
}

.socials * {
    margin: 0 1em;
    max-width: 20px;
    transform: translateX(-45%);
}

#install {
    margin: 8em 0;
}

.release {
    border: 1px solid var(--darkblue);
    border-radius: 5px;
    padding: 1em 1em;
    width: 75%;
}

.release p {
    margin: 0;
}

.release h3 {
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}

.versionNumber {
    background-color: var(--darkblue);
    border: none;
    color: var(--white);
    padding: .3em 1.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 5px;
}