/* Fonts and Colours */

@font-face {
    font-family: Circular;
    src: url(../circular.ttf);
}

@font-face {
    font-family: Circular Light;
    src: url(../circular-light.ttf);
}

:root {
    --white: #FFFFFF;
    --lightblue: #8B9AC0;
    --darkblue: #576CA8;
    --lightgrey: #DAE0E5;
}

img {
    pointer-events: none;
}

#install>.download {
    margin: 1em 1em;
}

.accordion {
    color: var(--darkblue);
    background-color: var(--white);
    font-size: 1.3em;
    font-weight: 700;
    font-family: circular;
    cursor: pointer;
    padding: 0;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    display: block;
}

/* Default to hidden */

.faq-panel {
    background-color: var(--white);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s cubic-bezier(.25, .8, .25, 1);
}

.faq-panel p {
    margin-top: 0.4em;
    margin-bottom: 0;
    font-size: 1em;
}

.faq-accordion {
    border: 1px solid var(--darkblue);
    padding: 0.8em 1em;
    border-radius: 5px;
    margin: 1em 0;
}

.download-icon {
    height: 1em;
    width: 1em;
    margin-right: 0.5em;
    transform: translateY(0.1em);
    display: inline-block;
}

body {
    font-family: Circular Light;
    color: var(--white);
    margin: 0;
    overflow-x: hidden;
    background-image: linear-gradient(var(--darkblue), var(--lightgrey));
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.onboarding-main {
    background: linear-gradient(147deg, #8B9AC0 0%, rgba(228, 232, 241, 0.228651) 11.46%, rgba(198, 205, 224, 0.494792) 31.25%, rgba(228, 232, 241, 0.228651) 68.23%, rgba(255, 255, 255, 0) 100%), #576CA8;
}

#video {
    z-index: 999;
    position: fixed;
    left: 55vw;
    top: 50%;
    border-radius: 5px;
    transform: translateY(-50%);
}

.onboarding-mockup {
    position: fixed;
    left: 48vw;
    top: 50%;
    transform: translateY(-50%);
}

.mockup_bg {
    max-width: 700px;
    width: auto;
    height: auto;
}

.text-section {
    margin-top: 25vh;
    margin-bottom: 50vh;
}

.email {
    color: var(--white);
}

.white {
    background-image: var(--white) !important;
    color: var(--darkblue);
}

.wide-content {
    padding: 3em 25vw 3em 25vw;
}

.wide-content>.release {
    width: 100% !important;
    margin-bottom: 1em;
}

.background-image {
    width: 100%;
    height: 50%;
}

h1 {
    font-size: 4em;
    margin-bottom: 0.4em;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 0.4em;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
}

p {
    font-size: 1.25em;
}

/* Navigation Bar  */

.header {
    padding-top: 1em;
}

a {
    font-family: Circular Light;
    color: var(--darkblue);
    cursor: pointer;
}

.splash {
    align-items: center;
    height: 100vh;
    width: 100%;
}

.splashText>a {
    margin: 0.5em 1em;
    margin-left: 0;
}

.splashText>p {
    font-size: 1.5em;
    margin-bottom: 0;
}

/* Intro */

.intro {
    padding-top: 2em;
}

/* Features */

.features {
    padding-top: 3em;
}

.currentFeatures {
    padding: 2em 0;
    justify-content: center;
}

.shadow {
    box-shadow: 0 14px 28px rgba(27, 33, 48, 0.06), 0 10px 10px rgba(27, 33, 48, 0.02);
}

.lt-hover:hover {
    box-shadow: 0 14px 28px rgba(27, 33, 48, 0.18), 0 10px 10px rgba(27, 33, 48, 0.16) !important;
}

.madeBy {
    margin-top: 6em;
}

/* Buttons */

.white_button {
    background-color: var(--white);
    border: none;
    color: var(--darkblue);
    padding: .5em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 5px;
}

.blue_button {
    background-color: var(--darkblue);
    border: none;
    color: var(--white);
    padding: .5em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 5px;
}

.secondary_button {
    border: 1px solid var(--darkblue);
    color: var(--darkblue);
    padding: .5em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 5px;
}

/* Images Style  */

.logo {
    max-width: 60px;
    width: auto;
    height: auto;
    transform: translateY(20%);
}

.mockup {
    margin-top: 2em;
    max-width: 750px;
    width: auto;
    height: auto;
}

.featureDiv {
    border-radius: 5px;
    text-align: left;
}

.featureDiv h3 {
    margin-bottom: 0.25em;
    color: var(--darkblue);
}

.testimonial_section {
    margin-top: 8em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.star_rating {
    width: 8em;
    padding: 1em;
    display: block;
    margin: auto;
}

.install_stats {
    opacity: 0.4;
    margin: 2em;
}

.install_stats p {
    margin: 0
}

.install_stats img {
    padding: 0.5em;
}

.testimonial {
    position: absolute;
    padding: 1em 2em;
    margin: auto;
    width: 60%;
    text-align: center;
    transition: all 1s ease-in-out;
    background-color: #FFFFFF;
}

.testimonial_decal {
    left: 0;
    width: 100%;
    top: 0;
    position: absolute;
}

.testimonial>h1 {
    margin: 0;
    font-weight: 500;
    margin-bottom: -0.5em;
}

.testimonial>p {
    margin: 0.5em 0;
}

.featureDiv p {
    margin: 0;
    margin-right: 2em;
    color: var(--darkblue);
    font-size: 1em;
}

.featureDiv img {
    max-width: 30px;
    width: auto;
    height: auto;
    align-self: center;
}

.transition {
    width: 100%;
    overflow-x: hidden;
    z-index: -999;
    margin-bottom: -10px;
    margin-top: -20%;
}

.white-bg {
    background: var(--white);
    color: var(--darkblue);
}

.suggestions>p {
    font-size: 1em;
}

.profileImages {
    justify-content: center;
}

.profileImages * {
    margin: 0 0.5em;
    max-width: 35px;
    border-radius: 50%;
    margin-bottom: 1em;
}

.socials {
    justify-content: center;
}

.socials * {
    margin: 0 1em;
    max-width: 20px;
    transform: translateX(-45%);
}

#install {
    margin: 8em auto;
    width: 40vw;
}

.release {
    border: 1px solid var(--darkblue);
    border-radius: 5px;
    padding: 1em 1em;
}

.release p {
    margin: 0;
}

.release h3 {
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}

.versionNumber {
    background-color: var(--darkblue);
    border: none;
    color: var(--white);
    padding: .3em 1.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 5px;
}